*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#tools {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background: #656565;
    border-right: 2px solid #363636;
}

#tools-title {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: white;
    background: #3e3e3e;
    border-bottom: 2px solid #363636;
}

#tools-container {
    margin: 10px;
}

#tools button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: solid;
}

.toolbox {
    border: 2px solid #363636;
    margin-bottom: 10px;
}

.toolbox-title {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #3e3e3e;
}

.toolbox-tools {
    padding: 4px 2px 0 2px;
    background: #a7a7a7;
}

.toolbox-tools img {
    width: 50px;
    height: 50px;
    margin: 1px;
}

.tool-img {
    cursor: move;
    z-index: 100;
}

#grid-container {
    position: absolute;
    left: 252px;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: move;
}

#grid {
    width: 100%;
    height: 100%;
    z-index: 50;
}

#map-container {
    width: 320px;
    height: 160px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
}

#map {
    width: 100%;
    height: 100%;
    background: #959595;
}